<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miguel.shopapp">

    <application
        android:allowBackup="true"
        android:label="ShopAppStarter"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopApp">
        <activity
            android:name="com.miguel.shopapp.ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ShopApp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.miguel.shopapp.ui.welcome.WelcomeActivity" android:exported="false"/>
        <activity android:name="com.miguel.shopapp.ui.auth.LoginActivity" android:exported="false"/>
        <activity android:name="com.miguel.shopapp.ui.auth.RegisterActivity" android:exported="false"/>
        <activity android:name="com.miguel.shopapp.ui.home.HomeActivity" android:exported="false"/>
    </application>
</manifest>
